<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="own.cfb.boot.dao.TeacherDao">

    <select id="getTeacherList" resultType="own.cfb.boot.model.Teacher">
        select teaCode,teaName from teacher
    </select>
</mapper>
